
{% extends 'base.html.twig' %}
{% block title %}Control Panel{% endblock %}
{% block description %}Servers{% endblock %}

{% block body %}


          {% embed 'shared/card.html.twig'%}

        {% block cardHeader %}{% endblock %}
            {% block cardContent %}
            <h5 class="card-title">{{results.game.displayName}} - {{results.ipAddress}} : {{results.gamePort}}</h5>
            <div class="row">
                <ul class="col">
                  <li class="d-flex justify-content-between align-items-center">
                    Connection Info
                    <span class="badge badge-primary">{{results.ipAddress}} : {{results.gamePort}}</span>
                  </li>
                  <li class="d-flex justify-content-between align-items-center">
                    Query Info
                    <span class="badge badge-primary">{{results.ipAddress}} : {{results.queryPort}}</span>
                  </li>
                  <li class="d-flex justify-content-between align-items-center">
                    Rcon Info
                    <span class="badge badge-primary">{{results.ipAddress}} : {{results.rconPort}}</span>
                  </li>
                  <li class="d-flex justify-content-between align-items-center">
                    Status
                    <span id="pid" class="badge badge-primary">{{results.pid|proccess}}</span>
                  </li>
                </ul>
                <ul class="col">

                  <li class="d-flex justify-content-between align-items-center">
                    CPU
                    <span id="cpu" class="badge badge-primary">0%</span>
                  </li>
                  <li class="d-flex justify-content-between align-items-center">
                    Memory
                    <span id="mem" class="badge badge-primary">0% (0 bytes)</span>
                  </li>
                  <li id="net" class="d-flex justify-content-between align-items-center">
                    Bandwidth
                    <span class="badge badge-primary">0 byte/s</span>
                  </li>
                </ul>
                <div class="col text-center mt-4">

                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" data-action="start" class="btn btn-secondary start" disabled>
                       <i class="fas fa-play"></i>
                    </button>
                    <button type="button" data-action="stop" class="btn btn-secondary stop" disabled>
                      <i class="fas fa-stop"></i>
                    </button>
                    <button type="button" data-action="reboot" class="btn btn-secondary reboot" disabled>
                      <i class="fas fa-redo-alt"></i>
                    </button>
                  </div>
                </div>
            </div>
            {% endblock %}
          {% block cardFooter %}
            <div class="nav-item btn-group-sm ml-0" role="group" aria-label="navigation">
                <a href="{{ app.request.pathinfo  }}/filemanager" class="btn btn-primary card-link"><i class="fas fa-folder-open"></i>FileManager</a>
                <a href="{{ app.request.pathinfo  }}/update" class="btn btn-primary card-link"><i class="fab fa-steam"></i>Check For Updates</a>
                <a href="{{ app.request.pathinfo  }}/reinstall" class="btn btn-primary card-link"><i class="fas fa-redo"></i>Reinstall</a>
            </div>
          {% endblock %}

          {% endembed %}


          <div class="row">
            <div class="col">
            {# {{
              render(controller('App\\Controller\\CommandLineController::index',
                {
                  'id' : app.request.get('id')
                }
              ))
            }} #}
            {% embed 'shared/card.html.twig' %}
              {% block cardContent %}
              <h5 class="card-title">Command Line</h5>
              <p>{{results.cmdline}}</p>

              {% endblock cardContent %}
              {% block cardFooter %}
              <div class="nav-item btn-group-sm ml-0" role="group" aria-label="navigation">
                  <a href="{{ app.request.pathinfo  }}/command-line" class="btn btn-primary card-link">Edit</a>
              </div>
              {% endblock %}
            {% endembed %}
            </div>
            <div class="col">
            {{
              render(controller('App\\Controller\\ConfigFilesController::index',
                {
                  'id' : app.request.get('id')
                }
              ))
            }}
            </div>
          </div>

          {{
            render(controller('App\\Controller\\LogFileController::retrieve',
              {
                'id' : app.request.get('id')
              }
            ))
          }}



          {# {{
            render(controller('App\\Controller\\ActivityController::index',
              {
                'id' : app.request.get('id')
              }
            ))
          }} #}



{% endblock %}
