{% extends 'form.twig' %}

{% block body %}

  {% embed 'shared/card.html.twig' %}
  {% block cardHeader %}New Command Line{% endblock %}
    {% block cardContent %}

        <div class="form-row">
            <div class="col-lg-10">
              <div data-toggle="tooltip" data-placement="top" title="Default command line" class="form-group">
                  <input class="form-control" type="text" disabled="disabled" value="{{services.getGame.Cmdlines.CmdlineDefault}}">
              </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mb-0 col-lg-12">
              {{ form_widget(form.cmdline) }}
              <small class="d-flex align-items-end">{{ form_help(form.cmdline) }}<a class="pl-1" data-toggle="modal" data-target=".modal" href="#">?</a></small>
              <div class="form-error text-danger">{{ form_errors(form.cmdline) }}</div>
            </div>
        </div>
    {% endblock %}
  {% endembed %}
  {{ form_end(form) }}
  <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
