{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    <ul class="nav py-2">
        <li class="nav-item btn-group-sm ml-0" role="group" aria-label="Filters">
          <button class="btn btn-outline-primary" type="submit"><i class="fas fa-check" aria-hidden="true"></i> Save</button>
          <button class="btn btn-outline-primary" type="reset"><i class="fas fa-history" aria-hidden="true"></i> Cancel</button>
          {% if app.request.get("cmd") %}
            <a class="btn btn-outline-primary" href="{{ app.request.uri }}/delete"><i class="fas fa-history" aria-hidden="true"></i> Delete</a>
          {% endif %}
        </li>
    </ul>
  {% embed 'shared/card.html.twig' %}
  {% block cardHeader %}New Command Line{% endblock %}
    {% block cardContent %}
    {# Valid paramaters are, Username,Password and confirm #}

        <div class="form-row">
            <div class="form-group col-lg-2">
                {{ form_widget(form.description) }}
                <div class="form-error">{{ form_errors(form.description) }}</div>
            </div>
            <div class="col-lg-10">
              <div data-toggle="tooltip" data-placement="top" title="Default command line" class="form-group">
                  <input class="form-control" type="text" disabled="disabled" value="{{services.getGame.Cmdlines.CmdlineDefault}}">
              </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group mb-0 col-lg-12">
              {{ form_widget(form.cmdline) }}
              <small class="d-flex align-items-end">{{ form_help(form.cmdline) }}<a class="pl-1" data-toggle="modal" data-target="#exampleModal" href="#">?</a></small>
              <div class="form-error text-danger">{{ form_errors(form.cmdline) }}</div>
            </div>
        </div>
    {% endblock %}
  {% endembed %}
  {{ form_end(form) }}

{% endblock %}
