{% extends 'form.twig' %}

{% block body %}

{{ form_start(form) }}
  {% embed 'shared/card.html.twig' %}
    {% block cardContent %}

          <div class="form-row">
              <div class="form-group col">
                  {{ form_widget(form.userName) }}
                  <div class="form-error">{{ form_errors(form.userName) }}</div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  {{ form_widget(form.firstName) }}
                  <div class="form-error">{{ form_errors(form.firstName) }}</div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  {{ form_widget(form.lastName) }}
                  <div class="form-error">{{ form_errors(form.lastName) }}</div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  {{ form_widget(form.country) }}
                  <div class="form-error">{{ form_errors(form.country) }}</div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  {{ form_widget(form.city) }}
                  <div class="form-error">{{ form_errors(form.city) }}</div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  {{ form_widget(form.state) }}
                  <div class="form-error">{{ form_errors(form.state) }}</div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-9">
                  {{ form_widget(form.address) }}
                  <div class="form-error">{{ form_errors(form.address) }}</div>
              </div>
              <div class="form-group col-3">
                  {{ form_widget(form.zip) }}
                  <div class="form-error">{{ form_errors(form.zip) }}</div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  {{ form_widget(form.homePhone) }}
                  <div class="form-error">{{ form_errors(form.homePhone) }}</div>
              </div>
          </div>

    {% endblock cardContent %}

    {% block cardFooter %}
    <div class="nav-item btn-group-sm ml-0" role="group" aria-label="navigation">
      <button class="btn btn-primary card-link" type="submit" name="button">Save</button>
      <button class="btn btn-primary card-link" type="reset" name="button">Cancel</button>
    </div>

    {% endblock %}

  {% endembed %}
  {{ form_end(form) }}

{% endblock body %}
